main{
  min-height: 80vh;
}
/* .col{
  padding-bottom: 50px;
} */
footer{
  bottom: 0;
  height: 100px;
  position: absolute;
  justify-content: center;
  padding-left: 45%;
}

.myimage{
  max-width: 25%;  
  height: auto;  
float: left;
}
.aboutdiv{
  background-color: black;
  
}
/* input{
    padding-left: 20px;
    width:150px;
margin-bottom:10px; 
} */
label, input {
  display: block;
  border-radius: 5px;
}

label {
  margin-bottom: 20px;
  border-radius: 5px;
}
button{
  padding-left: 50px;
  display: block;
  justify-content: center;
  border-radius: 5px;
}
.comment{
  color: white;
}
.aboutdes{
  font-size: 25px;
  font-size: Bolder;
  padding-top: 250px;
  /* margin-left: 20px; 
  padding: 10px; */
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.contactdiv{
  background-color: black;
}
.contacthead{
  font-size: 35px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding-left: 45%;
  padding-top: 15px;
}
.footer{
  background-color: black;
}

/* * {
  box-sizing: border-box;
} */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-left: 100px;
column-gap: 5px;
background-color: black;
}
.git{
  padding-left: 40px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

li{
  color: white;
  justify-content: center;
  padding-left: 50px;
}
.resume{
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  background-color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
 
}
h1{
  font-family: "Times New Roman", Times, serif;
  margin-top: 50px;
}
.resumediv{
  background-color: black;
}