main{
  min-height: 80vh;
}

footer{
  bottom: 0;
  height: 100px;
  position: absolute;
  justify-content: center;
  padding-left: 45%;
}
 ul
 {
  display: inline-flex;
  list-style-type: none;
  justify-content: space-between;

 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}   
.headertiles{
  display: flex;
  align-items: center;
  padding: .5em;
  margin: 0;
}
.headertiles li{
  margin: 0 1em;
  text-decoration: right;
}

.myimage{
  max-width: 25%;  
  height: auto;  
float: left;
}
.aboutdiv{
  background-color: black;
  
}
label, input {
  display: block;
  border-radius: 5px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  margin-bottom: 20px;
  border-radius: 5px;
}
button{
  padding-left: 50px;
  display: block;
  justify-content: center;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}


.comment{
  color: white;
}
.aboutdes{
  font-size: 25px;
  font-size: Bolder;
  padding-top: 250px;
  /* margin-left: 20px; 
  padding: 10px; */
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.contactdiv{
  background-color: black;
}
.contacthead{
  font-size: 35px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding-left: 45%;
  padding-top: 15px;
}
.footer{
  background-color: black;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-left: 100px;
column-gap: 5px;
background-color: black;
}
.git{
  padding-left: 40px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.resumeprof{
color: white;
justify-content: center;
}
.resumeprof li{
justify-content: center;

}
.resume{
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  background-color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
 
}
h1{
  font-family: "Times New Roman", Times, serif;
  margin-top: 50px;
}
.resumediv{
  background-color: black;
}